  <h2>Links Index</h2>
<table id="links_table">
  <% @links.each do |l| %>
    <tr>
      <p>
        <strong>
          <%= link_to l.title, l.url %><br>
          <%= l.description %>
        </strong>
      </p>
      <p>  
        Submitted <%= time_ago_in_words(l.created_at, Time.now) %> ago
      </p>
    </tr>
  <% end %>
</table>

  <div id="submit-link"><%= link_to "Submit a Link", new_link_path %></div>
